# Giant files
*.zip
*.tar.gz
*.log
crash_live.log

# Android-specific
.gradle/
.gradle-local/
build/
local.properties
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.jks
gradle-8.5/
jdk-17.0.10+7/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Data
data/*
!data/ner_lexicons.json
!data/ner_titlecase_lexicons.json
uploads/

# Environment variables
.env
.env.local
.env.*.local
.DS_Store
